
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --features-background-color: #89C0F2;
  --features-box-shadow: 19px 19px 22px 0px rgba(0, 0, 0, 0.25) inset;
  --sign-up-box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.49);
  --sign-up-radial-gradient: radial-gradient(37.80% 37.80% at 50.00% 50.00%, #89C0F2 0%, rgba(78, 166, 245, 0.62) 100%);
  --sign-up-linear-gradient: linear-gradient(90deg, #2E71AE 1.38%, #89C0F2 98.98%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* navbar */
.main-nav{
  @apply fixed w-full flex justify-between flex-row items-center pl-10 pr-10 h-64 text-3xl border-b-navbar whitespace-nowrap z-[1]; 
}

.home-text{
  @apply font-bold text-4xl ;
}

.navbar-items-color{
  @apply text-navbar-color;
}

.navbar-items{
  @apply md:flex-row md:gap-4 md:justify-center md:items-center md:flex ;
}

.navbar-items-container{
  @apply max-md:bg-[#274C6D] max-md:fixed max-md:right-0 max-md:top-[65px] z-[1]
}

.navbar-items-mobile{
  @apply max-md:w-[213px] max-md:flex max-md:flex-col max-md:gap-[30px] p-[10px] justify-center 
}

.navbar-burger{
  @apply hover:cursor-pointer md:hidden
}



/* background */
.main-background{
  @apply fixed w-[100%] bg-gradient-radial h-screen ;
}

.main-image{
  @apply bg-my-image bg-center bg-cover h-screen;
}

/* lines */
.main-lines{
  @apply fill-[#d9d9d9];
}

.lines-left ,
.lines-left > *,
.lines-right, 
.lines-right > * {
  @apply fixed z-[1];
}

.lines-left1, 
.lines-left2,
.lines-right1,
.lines-right2{
  @apply main-lines;
}

.lines-left,
.lines-right{
  @apply overflow-hidden w-full h-full mix-blend-multiply

}

.lines-right1{
  @apply top-[388px] right-[0]
}

.lines-right2{
  @apply top-[469px] right-[0] 
}


/* body */

.main-body{
  @apply relative flex flex-row justify-between top-[225px] main-body-text  mx-auto md:h-[700px] max-md:flex-col max-md:justify-center max-md:items-center max-md:box-border max-md:px-[70px] max-md:top-[100px] z-[1]
}

.main-body-text{
  @apply text-[#DDEFFF] font-[Inter] text-[25px] not-italic font-semibold whitespace-nowrap
}

/* sidemenu
 */
.sidemenu{
  @apply w-fit h-fit flex justify-center items-start fixed top-[30%] z-[1]
}

.sidemenu-section{
  @apply flex flex-row items-center gap-[26px] text-[#DDEFFF] h-[65px] font-[Inter] text-[31px] font-semibold justify-between focus-visible:outline-none
}

.sidemenu-section-icon{
  @apply w-[50px] h-[50px] flex justify-center items-center
}


/* side features */

.side-features{
  @apply  h-fit max-md:absolute max-md:shadow-[inset_19px_19px_22px_0px_rgba(0,0,0,0.25)] max-md:bg-[#89C0F2] max-md:bottom-[0] max-md:flex max-md:w-[100%] max-md:flex-col max-md:justify-center max-md:items-center
}

.side-features-items{
  @apply flex
}


/* center content */

.center-content{
  @apply h-full flex flex-col whitespace-normal justify-between items-center max-md:h-[688px]
}

.center-content-title{
  @apply text-[#E4E4E4] text-center font-[Inter] text-[61px] font-normal max-md:text-[40px] max-md:w-[289px]
}

.center-content-text-blue{
  @apply text-[#89C0F2] font-extrabold
}

.center-content-text{
  @apply whitespace-normal font-[Inter] text-[20px] max-md:text-[16px] max-md:text-center max-md:leading-[120%]
}

.center-content-text-container{
  @apply flex flex-col justify-between h-[475px] items-center
}

.center-content-container{
  @apply flex flex-col justify-between h-full
}

.center-content-buttons{
  @apply font-[Inter] font-bold flex flex-row justify-center gap-[10px]
}

.center-content-buttons a{
  @apply flex justify-center items-center gap-[10px] 
}

.center-content-buttons div{
  @apply whitespace-nowrap text-[20px] h-[40px] flex justify-center items-center
}

.center-content-buttons-try{
  @apply bg-[#26639A] px-[25px] rounded-[10px]
}

.center-content-buttons-learn{
  @apply text-[#26639A] bg-[#F2F2F2] px-[25px] rounded-[10px]
}

.center-content-arrow{
  @apply flex justify-center
}

/* features */

.features-list{
  @apply flex flex-row justify-around items-center h-[200px] px-[92px] py-[25px] text-[#000] text-center font-[Inter] text-[32px] font-normal md:max-lg:text-[25px]
}

.features-list li{
  @apply flex flex-row items-center h-full justify-between flex-1;
}